<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{%static 'css/estilo.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Prueba eva2</h1>
            </div>

        </div>
        <section class="banner contenedor">
            <secrion class="banner_litle">
                <h2>Tienda <br> Kachivache</h2>
                <a href="../producto/" class="btn btn-primary btn-lg">Lista Productos</a>
                <a href="../Registrar/" class="btn btn-primary btn-lg">Registrar Productos</a>
                <a href="../admin/" class="btn btn-primary btn-lg">Administrador</a>
            </secrion>
            <div class="banner_img">
               <img src="{%static "img/laptop.png" %}" alt="">
            </div>
        </section>
        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>

        </div>

    </header>
    <!--<div class="alert alert-succes display-1">Tienda Kachivache</div>
    <a href="../producto/" class="btn btn-primary btn-lg">Lista Productos</a>
    <a href="../Registrar/" class="btn btn-primary btn-lg">Registrar Productos</a>-->
</body>
</html>